In [2]:
import pandas as pd

# Challenge 1

In [3]:
#Deleting spaces in txt files. Because there were spaces at the end of lines.

In [4]:
with open('Saturday, October 02, 2021.txt', 'r') as f:
    txt = f.read().replace(' ', '')

with open('Saturday, October 02, 2021.txt', 'w') as f:
    f.write(txt)

In [5]:
with open('Saturday, October 09, 2021.txt', 'r') as f:
    txt = f.read().replace(' ', '')

with open('Saturday, October 09, 2021.txt', 'w') as f:
    f.write(txt)

In [6]:
#Reading txt files and converting to csv files

In [7]:
read_file = pd.read_csv(r'Saturday, October 09, 2021.txt')
read_file.to_csv (r'Saturday, October 09, 2021.csv', index=None)

In [8]:
read_file = pd.read_csv(r'Saturday, October 02, 2021.txt')
read_file.to_csv (r'Saturday, October 02, 2021.csv', index=None)

In [9]:
import glob

In [10]:
df = pd.concat(map(pd.read_csv, glob.glob('Saturday, October*.csv')))
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59ST,NQR456W,BMT,09/25/2021,00:00:00,REGULAR,7641078,2615082
1,A002,R051,02-00-00,59ST,NQR456W,BMT,09/25/2021,04:00:00,REGULAR,7641091,2615083
2,A002,R051,02-00-00,59ST,NQR456W,BMT,09/25/2021,08:00:00,REGULAR,7641100,2615107
3,A002,R051,02-00-00,59ST,NQR456W,BMT,09/25/2021,12:00:00,REGULAR,7641135,2615156
4,A002,R051,02-00-00,59ST,NQR456W,BMT,09/25/2021,16:00:00,REGULAR,7641265,2615188

In [11]:
df.size

4619758

In [12]:
df.info

<bound method DataFrame.info of           C/A  UNIT       SCP        STATION LINENAME DIVISION        DATE  \
0        A002  R051  02-00-00           59ST  NQR456W      BMT  09/25/2021
1        A002  R051  02-00-00           59ST  NQR456W      BMT  09/25/2021
2        A002  R051  02-00-00           59ST  NQR456W      BMT  09/25/2021
3        A002  R051  02-00-00           59ST  NQR456W      BMT  09/25/2021
4        A002  R051  02-00-00           59ST  NQR456W      BMT  09/25/2021
...       ...   ...       ...            ...      ...      ...         ...
209762  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  10/08/2021
209763  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  10/08/2021
209764  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  10/08/2021
209765  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  10/08/2021
209766  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  10/08/2021

            TIME     DESC  ENTRIES    EXITS
0       00:00:00  REGULAR  7641078  2615082
1       04:00:00  REGULAR  7641091  2615083
2       08:00:00  REGULAR  7641100  2615107
3       12:00:00  REGULAR  7641135  2615156
4       16:00:00  REGULAR  7641265  2615188
...          ...      ...      ...      ...
209762  05:00:00  REGULAR     5554      653
209763  09:00:00  REGULAR     5554      653
209764  13:00:00  REGULAR     5554      653
209765  17:00:00  REGULAR     5554      653
209766  21:00:00  REGULAR     5554      653

[419978 rows x 11 columns]>

# Challenge 2

In [13]:
df['DateAndTime'] = df['DATE'].str.cat(df['TIME'],sep=" ")
df["DATE_TIME"] = pd.to_datetime(df['DateAndTime'], format="%m/%d/%Y %H:%M:%S")
df = df.drop('DateAndTime', 1)

In [29]:
##Added date_time column and saved concatanated file
import os

if not os.path.exists('./concatanated.csv'):
    df.to_csv('concatanated.csv', index=False)

# Challenge 3

In [ ]:
def get_hour(t):
   h, m, s = map(int, t.split(':'))
   return h

In [ ]:
# Firstly we need to find n for every n hour problem
## We can take first and second row for measuring n
first_rows_time = df.iloc[0]['TIME']
first_rows_hour = get_hour(first_rows_time)

second_rows_time = df.iloc[1]['TIME']
second_rows_hour = get_hour(second_rows_time)

print('n is equals to',second_rows_hour-first_rows_hour)

In [ ]:
#So we have four hour time perioads
#Let's find daily entries now
daily_entries = df.groupby(pd.Grouper(key='DATE_TIME', axis=0, 
                      freq='D', sort=True)).sum()

#print(type(daily_entries))
##So we have dataframe again.

val= daily_entries['ENTRIES'].sum()  
print('TOTAL ENTRIES COUNT OF OUR DATA = ',val)

In [ ]:
daily_entries_foreach_turnstile = df.groupby(['UNIT', 'DATE']).sum()

with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(daily_entries_foreach_turnstile)

# Challenge 4

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
df['UNIT'] = df['UNIT'].astype(str)
unit_163 = df[df['UNIT'] == 'R163']
grouped = unit_163.groupby('DATE').sum()

#As you can see our plot is same with our data
print(grouped)
plt.figure(figsize=(20,8))
grouped['ENTRIES'].plot(kind='bar')
plt.yscale('log')
plt.title('Daily Entries for Unit R163')

# Challange 5

In [ ]:
df.groupby(['C/A','UNIT','STATION','DATE']).sum()

# Challange 6

In [20]:
df.dtypes

C/A                  object
UNIT                 object
SCP                  object
STATION              object
LINENAME             object
DIVISION             object
DATE                 object
TIME                 object
DESC                 object
ENTRIES               int64
EXITS                 int64
DATE_TIME    datetime64[ns]
dtype: object

In [23]:
df['DATE'] = pd.to_datetime(df['DATE'])

In [24]:
df.dtypes

C/A                  object
UNIT                 object
SCP                  object
STATION              object
LINENAME             object
DIVISION             object
DATE         datetime64[ns]
TIME                 object
DESC                 object
ENTRIES               int64
EXITS                 int64
DATE_TIME    datetime64[ns]
dtype: object

In [25]:
df['DATE']
#As you can see slashes are dashes now. We can understand that our datas in datetime type now.

0        2021-09-25
1        2021-09-25
2        2021-09-25
3        2021-09-25
4        2021-09-25
            ...
209762   2021-10-08
209763   2021-10-08
209764   2021-10-08
209765   2021-10-08
209766   2021-10-08
Name: DATE, Length: 419978, dtype: datetime64[ns]

In [54]:
#df.groupby(['DATE','STATION'])["UNIT"].value_counts()
daily_index =df.set_index('DATE')
#daily_index.groupby(['DATE','STATION'])["UNIT"].value_counts().reset_index(name='COUNTS')


daily_index = pd.DataFrame(daily_index.groupby(['DATE','STATION'])["UNIT"].value_counts().reset_index(name='COUNTS'),index=None)
daily_index.tail()

           DATE        STATION  UNIT  COUNTS
6769 2021-10-08       WOODLAWN  R052      30
6770 2021-10-08  WORLDTRADECTR  R029     108
6771 2021-10-08  WTC-CORTLANDT  R305     210
6772 2021-10-08         YORKST  R301      18
6773 2021-10-08       ZEREGAAV  R326      36

# Challange 7